<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/style.css'>
    <script>
    function Delete() {
        var rs = confirm('Confirm to delete?');
        if (!rs) return false;
    }

    function Logout() {
        window.location.href = "/";
    }
    </script>
</head>

<body>
    <div class="container2">
        <h1><u>Personal Database</u></h1>
        <h2>User：<%= user  %></h2>
        <br>
        <h2>Adding Item</h2>
        <form action="add" method="post">
            <input type="hidden" name="account" value="<%= user  %>" >
            <input type="text" name="item">
            <input type="text" name="amount">
            <input class="btn" type='submit' value='Add'>
        </form>
        <br>
        <h2>Content</h2>
        <table class="table">
            <tr>
                <th>item</th>
                <th>amount</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
                <tr>
                    <td>
                        <%= data[i][1]  %>
                    </td>
                    <td>
                        <%= data[i][2]  %>
                    </td>
                    <form action="update" method="post">
                        <td>
                            <input type="hidden" name="account" value="<%= user  %>" >
                            <input type="hidden" name="id" value="<%= data[i][0]  %>" >
                            <input type="text" name="amount">
                            <input type="submit" name="edit" value="Edit" class="btn">
                        </td>
                    </form>
                    <form action="delete" method="post">
                        <td>
                            <input type="hidden" name="account" value="<%= user  %>" >
                            <input type="hidden" name="id" value="<%= data[i][0]  %>" >
                            <input type="submit" name="delete" value="Delete" class="btn" onclick=" return Delete();">
                        </td>
                    </form>
                </tr>
                <% } %>
        </table>
        <br>
        <br>
        <input type="button" value="logout" class="btn2" onclick="Logout()">
        <br><br>
    </div>
</body>

</html>
